<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <property name="out.pattern" value="[%d{HH:mm:ss}] [%logger/%thread] [%level]: %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${out.pattern}</pattern>
        </encoder>
    </appender>

    <root>
        <level value="INFO"/>
    </root>
</configuration>